.footer{
    @apply text-center hidden;
    color: var(--lightest-slate);
    &-links{
        @apply flex justify-center items-center gap-8 py-8;
        color: var(--lightest-slate);
        font-size: var(--tlarge2);
        &-icon{
            cursor: pointer;
            &:hover{
                color: var(--theme-color);
                transform: scale(1.1);
                transition: 0.3s ease-in-out;
            }
        }
    }
    @media screen and (max-width: 1080px){
        @apply block;
    }
}